@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

// 固定ボタンエリア
.p-fix-area {
  width: 30rem;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  display: none;
  pointer-events: none;
  @include sp {
    width: 33.5rem;
    right: initial;
    left: 50%;
    transform: translateX(-50%);
  }
  &__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
    position: sticky;
    top: calc(100% - 15.8rem);
    @include sp {
      row-gap: 2rem;
      align-items: flex-end;
      top: calc(100% - 14.8rem);
    }
  }
}
