@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

// 料金・プラン
.plan-structure {
  padding-block: 7.2rem 3rem;
  @include sp {
    padding-block: 4.8rem 2rem;
  }
  &__contents {
    margin-top: 4.2rem;
  }
  &__items {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    @include sp {
      flex-direction: column;
      row-gap: 1.9rem;
    }
  }
  &__item {
    width: 21rem;
    height: 6rem;
    background: $red;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    display: grid;
    place-content: center;
  }
  &__text {
    margin-top: 4.8rem;
    @include sp {
      margin-top: 4.7rem;
    }
    p {
      font-size: 1.8rem;
      line-height: calc(30 / 18);
      @include sp {
        font-size: 1.6rem;
        line-height: 1.88;
      }
    }
  }
}


.plan-table {
  padding-block: 3.4rem 22.3rem;
  @include sp {
    padding-block: 2.4rem 18.6rem;
  }
  &__contents {
    margin-top: 4.9rem;
    @include sp {
      margin-top: 2rem;
    }
  }
  &__table-inner {
    @include sp {
      overflow-x: scroll;
      &::-webkit-scrollbar {
        height: 2.5rem;
        background: rgba(80, 80, 80, 0.15);
      }
      &::-webkit-scrollbar-thumb {
        height: 2.3rem;
        background: rgba(80, 80, 80, 0.25);
      }
    }
    table {
      width: 100%;
      border-collapse: collapse;
      @include sp {
        width: 67rem;
        margin-bottom: 1.75rem;
      }
      tr {
        th,
        td {
          width: 25%;
          vertical-align: middle;
          padding-inline: 2rem;
          @include sp {
            padding-inline: 1rem;
          }
        }
        th {
          height: 8rem;
          font-weight: 500;
        }
        td {
          height: 8.5rem;
          text-align: center;
        }
      }
      thead {
        border-bottom: 0.05rem solid #000;
        tr {
          td {
            padding: 0;
            .th-inner {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: flex-end;
              p {
                width: 100%;
                height: 5rem;
                background: #000;
                color: #fff;
                font-size: 2rem;
                line-height: calc(33 / 20);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                @include sp {
                  height: 6.6rem;
                  line-height: calc(25 / 20);
                }
                span {
                  font-size: 1.7rem;
                  display: block;
                }
              }
            }
            &:nth-of-type(2) {
              .th-inner {
                p {
                  height: 100%;
                  background: $red;
                  padding-top: 1rem;
                  @include sp {
                    height: 100%;
                  }
                }
              }
            }
          }
        }
      }
      tbody {
        border-bottom: 0.05rem solid #000;
        font-size: 1.7rem;
        tr {
          &:nth-of-type(even) {
            background: #50505026;
          }
          &:first-of-type {
            th,
            td {
              font-weight: bold;
            }
            td {
              font-size: 2.2rem;
              &:nth-of-type(2) {
                color: $red;
              }
            }
          }
          th {
            @include sp {
              font-size: 1.6rem;
              line-height: calc(25 / 16);
            }
          }
          td {
            border-left: 0.05rem solid #000;
            line-height: calc(25 / 17);
          }
        }
      }
      
    }
  }
  &__anno {
    margin-top: 2.8rem;
    @include sp {
      margin-top: 1.7rem;
    }
    p {
      font-size: 1.7rem;
      @include sp {
        font-size: 1.6rem;
        line-height: calc(30 / 16);
      }
    }
  }
}
