@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

// 関連記事
.p-related-articles {
  margin-top: 9rem;
  @include sp {
    margin-top: 6rem;
  }
  &__title {
    height: 5rem;
    background: #000;
    display: flex;
    align-items: center;
    padding-inline: 3rem;
    @include sp {
      justify-content: center;
    }
    h2 {
      font-size: 1.8rem;
      line-height: 1;
      color: #fff;
    }
  }
  &__items {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    @include sp {
      margin-top: 2rem;
      row-gap: 1.9rem;
    }
  }
}
