@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

// サイドバー　おすすめ
.p-side-recommend {
  &__contents {
    margin-top: 1.5rem;
    @include sp {
      margin-top: 2rem;
    }
  }
  &__items {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    @include sp {
      row-gap: 2rem;
    }
  }
}