@use "../../foundation/variable" as *;
@use "../../foundation/mixin" as *;

// シングルページのページネーション
.c-single-pagination {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 8rem;
  @include sp {
    column-gap: 2.2rem;
  }
  .c-single-pagination-block {
    &__heading {
      height: 3.7rem;
      background: #000;
      display: flex;
      align-items: center;
      padding-inline: 2rem;
      p {
        color: #fff;
        font-size: 1.7rem;
        line-height: 1;
      }
    }
    .c-single-pagination-block-item {
      display: flex;
      column-gap: 1.6rem;
      margin-top: 1.7rem;
      &__img {
        width: 9.8rem;
        img {
          aspect-ratio: 98 / 68;
          object-fit: cover;
        }
      }
      &__title {
        flex: 1;
        p {
          font-size: 1.6rem;
          line-height: calc(25 / 16);
          font-weight: bold;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          overflow: hidden;
        }
      }
    }
    &:nth-of-type(2) {
      .c-single-pagination-block__heading {
        justify-content: flex-end;
      }
    }
  }
  &--result {
    @include pc {
      grid-template-columns: repeat(2, 34rem);
      justify-content: space-between;
    }
  }
}
